alabaster==0.7.9
appnope==0.1.0
Babel==2.3.4
backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
blessings==1.6
certifi==2016.9.26
click==6.6
configparser==3.5.0
decorator==4.0.10
docutils==0.12
entrypoints==0.2.2
enum34==1.1.6
functools32==3.2.3.post2
futures==3.0.5
geocoder==1.17.4
imagesize==0.7.1
ipykernel==4.5.0
ipyparallel==5.2.0
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
Jinja2==2.8
jsonschema==2.5.1
jupyter-client==4.4.0
jupyter-core==4.2.0
MarkupSafe==0.23
mistune==0.7.3
nbconvert==4.2.0
nbformat==4.1.0
nltk==3.2.1
nose==1.3.7
notebook==4.2.3
numpy==1.11.2
pathlib2==2.1.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.7
ptyprocess==0.5.1
Pygments==2.1.3
pymongo==3.3.0
pytz==2016.7
pyzmq==15.4.0
qtconsole==4.2.1
ratelim==0.1.6
requests==2.11.1
scikit-learn==0.18
scipy==0.18.1
simplegeneric==0.8.1
simplejson==3.8.2
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.4.8
stanford-corenlp-python==3.3.10
terminado==0.6
testpath==0.3
text-sentence==0.14
textblob==0.11.1
topia.termextract==1.1.0
tornado==4.4.2
traitlets==4.3.1
Unidecode==0.4.19
wcwidth==0.1.7
widgetsnbextension==1.2.6
xmltodict==0.10.2
zope.interface==4.3.2
